

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
.form-container {
    display: flex;
    flex: 1;
    max-width: 800px;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
.column {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
}

.left-column {
border: 2px solid #6c63ff;
background-color: #6c63ff;
padding: 20px;
margin-right: 10px;
overflow-y: auto;
max-height: calc(150vh - 130px);  
}

.center-column {
border: 2px solid #6c63ff;
background-color: #6c63ff;
padding: 20px;
margin-left: 10px;
}

.right-column {

  border: 2px solid #6c63ff;
  background-color: #6c63ff;
  padding: 40px;
  margin-left: 20px;
  }

.button {
background-color: #383838;
color: #fff;
padding: 10px 20px;
border: none;
cursor: pointer;
margin-bottom: 10px;
font-size: 16px;
}

.chat-item {
background-color: #fff;
border: 1px solid #6c63ff;
padding: 10px;
margin-bottom: 5px;
font-size: 16px;
}

input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
font-size: 16px;
background-color: hsla(0, 0%, 100%, 0.296);
border: 2px solid #6c63ff;
}

.output-box {
background-color: hsla(0, 0%, 100%, 0.296);    
padding: 10px;
border: 2px solid #6c63ff;
width: 100%;
height: 100px;
overflow-y: scroll;
font-size: 16px;
}
  
